.img-me{
    max-width: 328px;
    width: 100%;
}
.top{
    height: 100vh;
    background-image: url(../img/top01.jpg);
    background-attachment:fixed;
    background-position: center;
    background-origin: border-box;
    background-size:cover;
    background-repeat: no-repeat;
    
}.name-img{
    width:150px;
}
.name-pc{
    max-width: 600px;
    width: 100%;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}.name-m{
    width: 200px;
    padding-top:1.5rem;
    display: none;
        margin-left: auto;
    margin-right: auto;
}
.name{
    padding-top: 30vh;
}
.about_myphoto img{
    border-radius: 50%;
    width:100%;
    max-width: 230px;
    
}
.bg-skill{
/*
    border-top:3px solid #58B2DC;
    border-bottom:3px solid #58B2DC;
*/
    background-color: rgba(88, 178, 220, 0.2);
}
.second-title{
    color:#58B2DC;
    font-size: 1.5rem;
}
.job span{
    background-color: #58B2DC;
    color: white;
    padding:0rem 1rem;
}
.works{
    border-left:2px solid  #58B2DC;
}
@media(max-width:768px) {
    .works{
    border-left:0px solid  #58B2DC;
}
}
.works a{
    text-decoration: none;
    color:#4d4d4d;
}
.works div{
    padding:0.25rem;
    height: 100%;
    transition:all .5s;
}
.works div:hover {
    background-color: rgba(88, 178, 220, 0.2);
}
.works i{
    color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 1rem;
    top: 0;
    transition:all .5s;
}
.works div:hover i{
    color: #58B2DC;
}
@media (max-width:768px){
    .works i{
    color: #58B2DC;
}
    .works div{
    border-bottom: 1px solid lightgray;
}
}


/*****時間軸～*****/
.timeline {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}

.timeline::after { /*線 */
  content: '';
  position: absolute;
  width: 2px;
  background-color:#58B2DC;
  top: 0;
  bottom: 0;
  left: 0%;
  margin-left: -3px;
    z-index: 0;
}
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
    box-sizing: border-box;
}
@media (max-width: 768px) {
.timeline-container {
  padding: 10px 20px;
  width: 100%;
}
}

/* 圈圈 */
.timeline-container::after { 
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  left: -9px;
  background-color: white;
  border: 2px solid #58B2DC;
  top: 18px;
  border-radius: 50%;
  z-index: 1;
}
.timeline-time-big{
    font-size: 1rem;
    color:gray;
    margin-bottom: 1rem;
}
.timeline-time-big span{
    font-size: 1.5rem;
    font-weight: bolder;
    color:#58B2DC;
/*    border-bottom: 0.5px solid lightgray;*/
    margin-bottom: 1rem;
    margin-right:1rem;
}

@media (max-width: 575.98px) { 
    .name-pc{
    display: none;
}.name-m{
    display: block;
}
}


