.img-me{
    max-width: 328px;
    width: 100%;
}
.top{
    height: 100vh;
    background-image: url(../img/top01.jpg);
    background-attachment:fixed;
    background-position: center;
    background-origin: border-box;
    background-size:cover;
    background-repeat: no-repeat;
    
}.name-img{
    width:150px;
}
.name-pc{
    max-width: 600px;
    width: 100%;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}.name-m{
    width: 200px;
    padding-top:1.5rem;
    display: none;
        margin-left: auto;
    margin-right: auto;
}
.name{
    padding-top: 30vh;
}
.about_myphoto img{
    border-radius: 50%;
    width:100%;
    max-width: 230px;
    
}
.bg-skill{
/*
    border-top:3px solid #579572;
    border-bottom:3px solid #579572;
*/
    background-color: rgba(87, 149, 114, 0.2);
}
.second-title{
    color:#579572;
    font-size: 1.5rem;
}
.job span{
    background-color: #579572;
    color: white;
    padding:0rem 1rem;
}
.works{
    border-left:0.5px solid  lightgray;
}
@media(max-width:768px) {
    .works{
    border-left:0px solid  #579572;
}
}
.works a{
    text-decoration: none;
    color:#4d4d4d;
    width: 100%;
    height: 100%;
}
.works div{
    padding:0.25rem;
    height: 100%;
    transition:all .5s;
}
.works div:hover {
    background-color: rgba(87, 149, 114, 0.2);
}
.works i{
    color: gray;
    transition:all .5s;
    z-index: 99;
/*    float:right;*/
    margin-left: 1rem;
}

@media (max-width:768px){
/*
    .works i{
    color: #579572;
}
*/
    .works div{
    border-bottom: 1px solid lightgray;
}
}


/*****時間軸～*****/
.timeline {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}

.timeline::after { /*線 */
  content: '';
  position: absolute;
  width: 2px;
  background-color:#579572;
  top: 0;
  bottom: 0;
  left: 0%;
  margin-left: -3px;
    z-index: 0;
}
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
    box-sizing: border-box;
}
@media (max-width: 768px) {
.timeline-container {
  padding: 10px 20px;
  width: 100%;
}
}

/* 圈圈 */
.timeline-container::after { 
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  left: -9px;
  background-color: white;
  border: 2px solid #579572;
  top: 18px;
  border-radius: 50%;
  z-index: 1;
}
.timeline-time-big{
    font-size: 1rem;
    color:gray;
    margin-bottom: 1rem;
}
.timeline-time-big span{
    font-size: 1.5rem;
    font-weight: bolder;
    color:#579572;
/*    border-bottom: 0.5px solid lightgray;*/
    margin-bottom: 1rem;
    margin-right:1rem;
}

/****相關作品****/
.works-content span{
    line-height: 1.8rem;
    padding: 0 1rem;
}
.works-content span::before{
    content: attr(datatitle);
    position: absolute;
    left:1rem;
    font-size:0.8rem;
    color: #579572;
    font-weight: bold;
}

.hvr-img div{
    width: 100%;
    height:100%;
    position: absolute;
    top:0px;
    z-index: 20;
    background-color:rgba(0, 0, 0, 0.0);
    color:rgba(0, 0, 0, 0.0);
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .5s;
}
.hvr-img div:hover,.hvr-img div:active,.hvr-img div:focus,.hvr-active{
    background-color:rgba(0, 0, 0, 0.5);
    align-items: center;
    color:rgb(255, 255, 255);
    
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}





@media (max-width: 575.98px) { 
    .name-pc{
    display: none;
}.name-m{
    display: block;
}
}


